<carousel>
    <slide *ngFor="let photo of location_photos; index as i">
      <img src="assets/img/localizacoes/{{photo}}" style="display: block; width: 100%;">
    </slide>
    <!-- <slide>
      <img src="assets/img/localizacoes/terreno_entrada_queimados1.jpg" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="assets/img/localizacoes/terreno_entrada_queimados2.jpg" alt="second slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="assets/img/localizacoes/terreno_entrada_queimados3.jpg" alt="third slide" style="display: block; width: 100%;">
    </slide> -->
  </carousel>